work-dpi/
dw*
site/*
*.ucdb
covhtmlreport/*
work/*
transcript
*.ini
*.wlf
.moore
*.vstf
wlft*
*nfs*
src/moore.sv
*.sig
*.dtb
*.dasm
obj_dir/*
/tmp*
*.dasm
/Bender.lock
/Bender.local
build/
trace_*
mems
*log
uart
.bender
.dvt
.settings
*.o
install
.project
pyenv_ara/
docs/build/
docs/source/_templates/
