[submodule "toolchain/riscv-isa-sim"]
	path = toolchain/riscv-isa-sim
	url = https://github.com/riscv/riscv-isa-sim.git
	ignore = dirty
[submodule "toolchain/verilator"]
	path = toolchain/verilator
	url = https://github.com/verilator/verilator
[submodule "toolchain/newlib"]
	path = toolchain/newlib
	url = https://sourceware.org/git/newlib-cygwin.git
	ignore = dirty
