[submodule "toolchain/riscv-gnu-toolchain"]
	path = toolchain/riscv-gnu-toolchain
	url = https://github.com/riscv/riscv-gnu-toolchain.git
	ignore = dirty
[submodule "toolchain/riscv-isa-sim"]
	path = toolchain/riscv-isa-sim
	url = https://github.com/riscv/riscv-isa-sim.git
	ignore = dirty
[submodule "apps/riscv-tests"]
	path = apps/riscv-tests
	url = git@iis-git.ee.ethz.ch:ara_release/riscv-tests.git
[submodule "toolchain/verilator"]
	path = toolchain/verilator
	url = https://github.com/verilator/verilator
